.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: coral;
  color: white;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: brown;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-menu li {
  cursor: pointer;
}

.nav-menu li:hover {
  color: #38bdf8;
}
